@import "tailwindcss";
@source "../mdx-components.tsx";

@theme {
  --color-rurikon-50: #ebedef;
  --color-rurikon-100: #d8dbdf;
  --color-rurikon-200: #b3b9c1;
  --color-rurikon-300: #8c95a1;
  --color-rurikon-400: #697381;
  --color-rurikon-500: #4a515b;
  --color-rurikon-600: #3b4149;
  --color-rurikon-700: #2b3035;
  --color-rurikon-800: #1e2125;
  --color-rurikon-900: #0e0f11;
  --color-rurikon-950: #07080a;

  --color-rurikon-border: #d8dbdfb3;

  --font-family-sans: Helvetica, "Helvetica Neue", Arial, sans-serif;
  --font-family-serif: Helvetica, "Helvetica Neue", Arial, sans-serif;
  --font-family-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-zh: Helvetica, "Helvetica Neue", Arial, sans-serif;

  --breakpoint-text: 1220px;
  --breakpoint-mobile: 420px;
}

:root {
  --background: #fff8f5;
}

body {
  font-synthesis: none;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-rendering: geometricPrecision;
  background-color: var(--background);
  font-optical-sizing: auto;
  letter-spacing: 0.0085em;
  word-spacing: -0.04em;
  text-autospace: normal;

  /* Debugger */
  /* background: linear-gradient(to bottom, #ccc, var(--background) 1px);
  background-size: 100% 1.75rem; */
}

i,
em,
blockquote,
nav,
.sidenote {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-style: initial;
  font-weight: 400;
  letter-spacing: -0.006em;
}

del {
  text-decoration-thickness: 1px;
}

blockquote {
  box-shadow: 1px 0 0 var(--color-rurikon-500) inset;
}
@media screen and (max-width: 420px) {
  blockquote {
    /* Make it wider on mobile with a lighter color */
    box-shadow: 2px 0 0 var(--color-rurikon-300) inset;
  }
}

blockquote + blockquote {
  display: flow-root;
}

main {
  hanging-punctuation: first allow-end last;
  hyphens: auto;
  hyphenate-limit-chars: 10 6 6;
}

pre {
  background-color: #f7f7f7;
  contain: paint;
  /* margin: 1.75rem 0; */
  overflow-x: auto;
  /* border-radius: 0.75rem; */
  /* background-color: var(--color-rurikon-50); */
  padding: 0.875rem 1.25rem;
  -webkit-font-smoothing: auto;
}

pre code {
  display: inline-block;
  padding: 0;
  line-height: 1.45rem;
}

code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  word-spacing: -0.15em;

  /* background: var(--color-rurikon-50); */
  padding: 0.15em 0.2em;
  /* margin: 0 1px; */
  /* border-radius: 2px; */
  /* -webkit-box-decoration-break: clone;
  box-decoration-break: clone; */

  /* color: hsl(215deg 32% 37%); */
  --shiki-token-comment: hsl(215deg 32% 37% / 45%);
  --shiki-token-punctuation: hsl(215deg 32% 37% / 65%);
  --shiki-token-keyword: hsl(215deg 32% 37% / 85%);
  --shiki-token-function: hsl(223deg 85% 46%);
  --shiki-token-string: #0fb359;
  --shiki-token-string-expression: #0fb359;
  --shiki-token-constant: hsl(215deg 32% 26%);
  --shiki-token-link: #0fb359;
  --shiki-token-parameter: #ff9800;
}

pre {
  --shiki-foreground: #414141;
  --shiki-background: transparent;
}

code span {
  transition: color 0.2s;
}

article {
  figure {
    margin-top: 1.75rem;
    line-height: 0;
  }
  .sidenote-content {
    img,
    video,
    pre {
      margin: 0;
    }
  }
  .no-padding {
    --frame-padding: 0;
  }
  .framed > img,
  .framed > figure > span:first-child {
    padding: var(--frame-padding, 0.875rem);
    background: var(--frame-background, #fff);
    border: 1px solid var(--color-rurikon-border);
  }
  iframe {
    width: 100%;
    border: 1px solid var(--color-rurikon-border);
    background-color: #fff;
  }
  details {
    margin-top: 1.75rem;
    padding: 0.5rem 0;
    border-top: 1px solid var(--color-rurikon-border);
    border-bottom: 1px solid var(--color-rurikon-border);
  }
  details summary {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  details summary::marker {
    content: "";
  }
  details p:first-of-type {
    margin-top: 0;
  }
}

.content-fade-out {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0.63) 14%,
    hsla(0, 0%, 100%, 0.36) 29%,
    hsla(0, 0%, 100%, 0.19) 43%,
    hsla(0, 0%, 100%, 0.08) 57%,
    hsla(0, 0%, 100%, 0.02) 71%,
    hsla(0, 0%, 100%, 0) 86%,
    hsla(0, 0%, 100%, 0) 100%
  );
}

*::selection {
  background: #95a5ac40;
  color: #485a74;
}

.dot-leaders {
  text-align: end;
  height: 1em;
  overflow: hidden;
  word-wrap: break-word;
  letter-spacing: 6px;
}

.dot-leaders::after {
  content: "······································································";
}

@supports (view-transition-name: none) {
  @media not (prefers-reduced-motion: reduce) {
    ::view-transition-old(crossfade) {
      animation: hide 0.4s cubic-bezier(0.6, 0, 0.8, 1) forwards;
    }

    ::view-transition-new(crossfade) {
      opacity: 0;
      animation: appear 0.6s ease 0.2s forwards;
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
