@import "tailwindcss";
@source "../mdx-components.tsx";

@theme {
  --font-family-sans: Helvetica, "Helvetica Neue", Arial, sans-serif;
  --font-family-serif: Helvetica, "Helvetica Neue", Arial, sans-serif;
  --font-family-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-family-zh: Helvetica, "Helvetica Neue", Arial, sans-serif;

  --breakpoint-text: 1220px;
  --breakpoint-mobile: 420px;
}

:root {
  --background: #fff8f5;
}

body {
  font-synthesis: none;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-rendering: geometricPrecision;
  background-color: var(--background);
  font-optical-sizing: auto;
  letter-spacing: 0.0085em;
  word-spacing: -0.04em;
}

i,
em,
blockquote,
nav {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-style: initial;
  font-weight: 400;
  letter-spacing: -0.006em;
}

blockquote {
  box-shadow: 1px 0 0 var(--color-neutral-500) inset;
}
@media screen and (max-width: 420px) {
  blockquote {
    /* Make it wider on mobile with a lighter color */
    box-shadow: 2px 0 0 var(--color-neutral-300) inset;
  }
}

blockquote + blockquote {
  display: flow-root;
}

main {
  hanging-punctuation: first allow-end last;
  hyphens: auto;
  hyphenate-limit-chars: 10 6 6;
}

pre {
  background-color: #f7f7f7;
  contain: paint;
  overflow-x: auto;
  padding: 0.875rem 1.25rem;
  -webkit-font-smoothing: auto;
}

pre code {
  display: inline-block;
  padding: 0;
  line-height: 1.45rem;
}

article {
  figure {
    margin-top: 1.75rem;
    line-height: 0;
  }
  .no-padding {
    --frame-padding: 0;
  }
  .framed > img,
  .framed > figure > span:first-child {
    padding: var(--frame-padding, 0.875rem);
    background: var(--frame-background, #fff);
    border: 1px solid var(--color-neutral-200);
  }
  iframe {
    width: 100%;
    border: 1px solid var(--color-neutral-200);
    background-color: #fff;
  }
  details {
    margin-top: 1.75rem;
    padding: 0.5rem 0;
    border-top: 1px solid var(--color-neutral-200);
    border-bottom: 1px solid var(--color-neutral-200);
  }
  details summary {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  details summary::marker {
    content: "";
  }
  details p:first-of-type {
    margin-top: 0;
  }
}

.content-fade-out {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0.63) 14%,
    hsla(0, 0%, 100%, 0.36) 29%,
    hsla(0, 0%, 100%, 0.19) 43%,
    hsla(0, 0%, 100%, 0.08) 57%,
    hsla(0, 0%, 100%, 0.02) 71%,
    hsla(0, 0%, 100%, 0) 86%,
    hsla(0, 0%, 100%, 0) 100%
  );
}

@supports (view-transition-name: none) {
  @media not (prefers-reduced-motion: reduce) {
    ::view-transition-old(crossfade) {
      animation: hide 0.6s cubic-bezier(0.5, 0, 0.25, 1) forwards;
    }

    ::view-transition-new(crossfade) {
      opacity: 0;
      animation: appear 0.8s cubic-bezier(0.5, 0, 0.25, 1) 0.1s forwards;
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    filter: blur(12px);
    transform: scale(0.97) translateY(5px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(12px);
    transform: scale(0.97) translateY(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateY(0);
  }
}
